{% extends "./layout.html" %} {% block content %}

<div class="row d-flex justify-content-end mb-2">
  <h2 class="d-block">Employee List</h2>
  <a href="{% url "AddEmployeePage" %}" class="btn btn-success d-block w-auto">Add Employee</a>
</div>

<table class="table table-striped">
    <caption>Employees List</caption>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Salary</th>
      <th>Hire Data</th>
      <th>Email</th>
      <th>Department</th>
      <th>Location</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.FirstName}}</td>
      <td>{{employee.LastName}}</td>
      <td>{{employee.Salary}}</td>
      <td>{{employee.HireDate}}</td>
      <td>{{employee.Email}}</td>
      <td>{{employee.EmpDepartment.DeprtName}}</td>
      <td>{{employee.EmpDepartment.location}}</td>
      <td>{{employee.EmpCountry.CountryName}}</td>
      <td>
        <a href="employeedetails/{{employee.id}}" class="btn btn-primary">Details</a>
        <a href="updateemployee/{{employee.id}}" class="btn btn-info">Edit</a>
        <a href="deleteemployee/{{employee.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
